/*Til hele dokumentet*/
h1, h2, h3, p{
    font-family: Verdana, Serif;
    color: white;
}

.opgDiv{
    width: 50%;
    margin: auto;
    margin-top: 10px;
    padding: 20px;
}

/*Til lommeregner*/
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #3b2650;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-family: Verdana, serif;
}

li a:hover {
    background-color: #b674e2;
}

table {
    border: 1px solid black;
    margin-left: auto;
    margin-right: auto;
}

input[type="button"] {
    width: 100%;
    padding: 40px 40px;
    background-color: #3b2650;
    color: white;
    font-size: 24px;
    font-weight: bold;
    border-radius: 5px;

}
.symb{
    background-color: #e252d6;
}

input[type="button"]:hover, .symb:hover {
    background-color: #b674e2;
}

input[type="text"] {
    padding: 40px 30px;
    border: none;
    border-radius: 5px;
    border: 2px solid black;
}

/*Til farveskifter*/
.dropbtn {
    background-color: lightseagreen;
    color: white;
    padding: 16px;
    font-size: 16px;
    font-family: Verdana, Serif;
    border: none;
    cursor: pointer;
}

/* Dropdown button on hover & focus */
.dropbtn:hover, .dropbtn:focus {
    background-color: #2980B9;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    font-family: Verdana, Serif;
    display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #ddd;}

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {display:block;}